.restaurant-detail {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: relative;
    top: 80px;
  
    h2 {
      margin-top: 0;
    }
  
    p {
      margin: 10px 0;
    }
  }
  